include _mixins
doctype html
html
  head
    include _head
  body(class=bodyClass)
    //BEGIN out
    .out(class=outClass)
      block header
        include ../partials/_header
      block content
      block footer
        include ../partials/_footer
      block pop-up
        include ../partials/_pop-up
    //END out

    //LOAD SCRIPTS
    block scripts
      //- script.
      //-   var capterra_vkey = 'd2d71e681b2e51f7293aaf5438722180',
      //-   capterra_vid = '2125646',
      //-   capterra_prefix = (('https:' == document.location.protocol) ? 'https://ct.capterra.com' : 'http://ct.capterra.com');

      //-   (function() {
      //-     var ct = document.createElement('script'); ct.type = 'text/javascript'; ct.async = true;
      //-     ct.src = capterra_prefix + '/capterra_tracker.js?vid=' + capterra_vid + '&vkey=' + capterra_vkey;
      //-     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ct, s);
      //-   })();

      script(type='text/javascript').
        var capterra_vkey = 'd2d71e681b2e51f7293aaf5438722180',
        capterra_vid = '2125646',
        capterra_prefix = (('https:' == document.location.protocol) ? 'https://ct.capterra.com' : 'http://ct.capterra.com');
          (function() {
            var ct = document.createElement('script'); ct.type = 'text/javascript'; ct.async = true;
            ct.src = capterra_prefix + '/capterra_tracker.js?vid=' + capterra_vid + '&vkey=' + capterra_vkey;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ct, s);
          })
        ();
      script(type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false")
      script(type="text/javascript").
        window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"b7373c443f74841bbd510d4e1","lid":"575c25a38c","uniqueMethods":true}) })
      script(src="js/wow.js")
      //Start of Tawk.to Script
      script.
        console.log('tawk');
        window.$_Tawk = undefined;
        var $_Tawk_API={},$_Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/55ee5ff40fd62512247407c8/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
      //End of Tawk.to Script
      script(src="js/app.js")
